/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
 2.0.1) Global Headings
 2.0.2) Form Elements
 2.0.3) List styles
 2.0.4) General Text Formatting
 2.0.5) Link elements
 2.0.6) Table Elements
 3.) Site Wide Content
 4.) Header Style
 5.) Footer Style
 ====================================*/

/*
 1.) Eric Meyer's Reset
 -------------------------------------------------------------------------------------------------------------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 2.) Global Typography
 ------------------------------------------------------------------------------------------------------------------------------------------------*/
*, :before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	font-family: 'Domine', serif;
}
/*
 2.0.1) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Domine', serif;
}
h1 {
	font-size: 56px;
	color: #fff;
}
h2 {
	font-size: 100%;
	color: #131313;
	font-weight: 700;
}
.h2 {
	font-size: 48px;
	font-family: 'Domine', serif;
	font-weight: 700;
	color: #131313;
}
h4 {
	font-size: 28px;
	color: #131313;
	font-weight: 700;
	margin-bottom: 24px;
}
/*
 2.0.2) Form Elements
 -----------------------------*/
button, input, optgroup, select, textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: inherit;
	background: #fff;
	border: none;
}
input {
	line-height: normal;
}
input:focus, select:focus, textarea:focus, button:focus {
	border: none;
	outline: 0;
}
input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="file"] {
	-webkit-appearance: none;
	cursor: pointer;
	line-height: normal;
	overflow: visible;
}
input[type="text"] {
	border-radius: 0;
}
button[disabled], input[disabled] {
	cursor: default;
	color: #999;
	border-color: #ccc;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input, textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
a:hover, a:focus{
	outline:none;
	text-decoration:none;
	color: inherit;
}

/*
 2.0.3) List Styles
 ---------------------------------*/
ul, ol, dl {
	font-size: 100%;
	line-height: 1.5;
}
li, dt {
	line-height: 1.5em;
}
dl {
	margin: 0 0 1em 0;
}
dd {
	margin: 0 0 1em 0.8em;
}
ul {
	list-style-type: none;
	margin: 0 0 1em 0;
}
ol {
	list-style-type: decimal;
	margin: 0 0 1em 0;
}
ul ul, ol ul {
	list-style-type: circle;
	margin-top: 0;
}
ol ol {
	list-style-type: lower-latin;
	margin-top: 0;
}
ul, ol {
	padding-left: 0px;
	margin-bottom: 0px;
	list-style: none;
}
/*
 2.0.4) General Text Formatting
 -----------------------------------*/
p {
	font-size: 100%;
	line-height: 1.5;
}
blockquote, cite, q, var, dfn {
	font-style: italic;
}
blockquote {
	background: transparent;
	color: #666666;
}
small {
	font-size: 85.71429%;
}
pre, code, kbd, tt, samp, var {
	font-size: 100%;
}
pre {
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 1.5em 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code {
	color: #880000;
}
kbd, samp, var {
	color: #666666;
	font-weight: bold;
}
acronym, abbr {
	border-bottom: 1px #aaa dotted;
	font-variant: small-caps;
	cursor: help;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	max-width: 100%;
	height: auto;
}
[class^="icon-"] {
	background-image: url(../img/icons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}
/*
 2.0.5) Link style
 -------------------------*/
a, a:hover {
	text-decoration: none;
}
a {
	font-size: 14px;
	color: #fff;
}

/*
 2.0.6) Table Elements
 --------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
	color: #444444;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	margin: 0 0 1.35714em 0;
}
caption {
	font-variant: small-caps;
}
th, td {
	line-height: 1.5em;
	vertical-align: top;
	padding: 0.71429em 0.5em;
}
th *:first-child, td *:first-child {
	margin-top: 0;
}
thead th {
	text-align: left;
	color: #000;
	border-bottom: 2px #000 solid;
}
tbody th {
	text-align: left;
	border-top: 1px solid #ccc;
}
tbody td {
	text-align: left;
	border-top: 1px solid #ccc;
}
/* Containers
 -----------------------------------------------*/
.container {
	width: 1200px;
	max-width: 100%;
}
/* Clear Floated Elements
 ----------------------------------------------*/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
*.clearfix {
	zoom: 1;
}
/*
 3) Site Wide Content
 ----------------------------------------------------------------------------------------------------------------------------------------------*/
.no-space-right {
	padding-right: 0;
}
.no-space-left {
	padding-left: 0;
}
.no-space {
	padding-left: 0;
	padding-right: 0;
}
.date a {
	color: #fff;
	font-family: georgia;
	font-size: 15px;
	font-style: italic;
}
.date small {
	display: inline-block;
	font-size: 15px;
	margin-left: 8px;
}
.line {
	width: 100%;
	height: 1px;
	background: #f0f0f0;
	display: block;
	margin: 0 0 45px;
}
.heading, .heading-center {
	font-size: 16px;
	color: #131313;
	position: relative;
	padding: 0 0 10px;
	font-family: montserrat;
	font-weight: 700;
	text-transform: capitalize;
}
.heading-center {
	color: #fff;
	margin: 0 0 26px;
	display: block;
}
.heading {
	margin: 0 0 24px;
}
.heading:after {
	content: "";
	width: 28px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
}
.heading-center:after {
	content: "";
	width: 28px;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.3);
}
/*
 4) Header Section
 ------------------------------------------------------------------------------------------------------------*/

/*=================================================Header-One======================================*/
.header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	right: 0;
}
.primary-header {
	border: 1px solid #282828;
	background: #131313;
}
.primary-header ul {
	list-style-type: none;
}
.navigation  li:hover .drop-down {
	display: block;
}

.navigation .drop-down li a {
	background: #000000 none repeat scroll 0 0;
	border-bottom: 1px solid #484545;
	color: #ffffff;
	display: block;
	padding: 15px;
	text-transform: capitalize;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
	outline: 0;
}

.links li {
	float: left;
	text-transform: capitalize;
	border-right: 1px solid #282828;
}
.links .home {
	padding: 15px 17px 14px 19px;
}
.links li a {
	display: block;
	color: #fff;
	padding: 14px 19px 15px 20px;
}
.pages-link {
	float: left;
}
.social {
	float: right;
}
.social li {
	border-left: 1px solid #282828;
	border-right: 0;
}
.social li a {
	padding: 14px 17px 15px 21px;
}
.sbToggle {
	padding: 0 !important;
}
.sbSelector {
	padding: 14px 36px 15px 20px !important;
	background: #1f1f1f !important;
}
.homepage-three .sbSelector {
	background: #fff !important;;
}
.primary-header .sbOptions > li {
	float: none !important;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.primary-header .sbOptions a {
	display: block;
	padding: 16px 5px 16px 58px;
	width: 100%;
}
.primary-header .sbOptions li:hover {
	background: #1f1f1f !important;
	border-top: 1px solid #282828;
	border-bottom: 1px solid #282828;
}
.main-header {
	padding: 22px 0 33px;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.66) 10%, rgba(0,0,0,0.36) 56%, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0.04) 97%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.66) 10%,rgba(0,0,0,0.36) 56%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.04) 97%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.66) 10%,rgba(0,0,0,0.36) 56%,rgba(0,0,0,0.2) 90%,rgba(0,0,0,0.04) 97%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.logo {
	margin: 0 0 37px;
}
.nav > li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}
.nav > li {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 42px 0 0;
}

.nav > li:last-child {
	margin: 0;
}
.nav li a {
	letter-spacing: 0.8px;
	color: #fff;
	width: 190px;
	padding: 5px 0;
}
.nav > li > a:hover {
	background: transparent;
}
.search-icon {
	color: #fff;
	cursor: pointer;
}
.navigation {
	position: relative;
}
.blog-inner-page .navigation {
	z-index: 9;
}
.multi-sub-menu {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: left;
	background: #fff;
	padding: 32px 20px 50px;
	display: none;
}
.multi-level:hover .multi-sub-menu {
	display: block;
}
.multi-sub-menu:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: 0;
	left: 0;
	display: block;
}
.sub-menu-block {
	float: left;
	width: 23.3%;
	margin-right: 25px;
}
.sub-menu-block:last-child {
	margin-right: 0;
}
.multi-sub-menu h3 {
	font-family: domine;
	font-size: 21px;
	color: #131313;
	border-bottom: 3px solid #f0f0f0;
	text-transform: capitalize;
	padding: 0 0 20px;
	margin: 0 0 24px;
	font-weight: bold;
}
.sub-menu-block ul {
	list-style-type: none;
}
.sub-menu-block ul li {
	border-bottom: 1px dotted #d6d6d6;
	padding: 18px 0;
	border-top: 1px dotted transparent;
}
.sub-menu-block ul li:hover {
	border-top: 1px dotted transparent;
}
.sub-menu-block .product-list li {
	padding: 8px 0 30px;
	margin: 0 0 22px;
}
.sub-menu-block .product-list li:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}
.sub-menu-block ul li a, .sub-menu-block .product-price {
	color: #131313;
	text-transform: capitalize;
	font-size: 16px;
	display: block;
	line-height: 1;
	font-family: domine;
	font-weight: bold;
	padding: 0;
}
.categories-menu ul li a i {
	margin-right: 12px;
}
.sub-menu-block figure {
	float: left;
	width: 37.5%;
}
.sub-menu-block .product-description {
	float: left;
	width: 62.5%;
	padding: 14px 0 0 20px;
}
.cancel-price {
	color: #c9c9c9;
	text-decoration: line-through;
	margin-right: 3px;
	display: inline-block;
}
.sub-menu-block .product-name, .sub-menu-block .product-price {
	margin: 0 0 12px;
}
.rating a {
	float: left;
	margin-right: 2px;
	color: #131313;
	font-size: 16px;
}
.shop-price .rating {
	float: right;
	padding: 0 35px 0 0;
}
/*==============================================header-four=====================================*/
.homepage-four .menu-wrap {
	float: left;
}
.homepage-four .navbar-toggle {
	display: block;
	margin: 0px;
	border-right: 1px solid #282828;
	height: 54px;
	width: 53px;
	position: absolute;
	top: -54px;
	left: 0;
	padding: 13px 18px 18px;
}
.homepage-four .search-here {
	position: relative;
	padding-left: 125px;
}
.homepage-four .search-here button {
	right: auto;
	left: 51px;
	width: 55px;
	height: 100%;
	background: transparent;
}
.homepage-four .navbar-toggle .icon-bar {
	background: #ffffff;
	width: 15px;
}
.homepage-four .search-icon {
	display: inline-block;
	padding: 18px 18px;
	background: transparent;
	border: none;
	font-size: 14px;
}
.homepage-four .header-four-logo {
	display: inline-block;
	padding: 13px 0 12px 21px;
	border-left: 1px solid #282828;
}
.homepage-four .sbHolder, .home-one .sbHolder, .homepage-two  .sbHolder, .homepage-three  .sbHolder, .blog-inner-page .sbHolder {
	position: relative;
}
.shop-page-one #content .sbHolder, .shop-page #content .sbHolder{
	position: absolute;
	z-index: 9;
	right: 32px;
}
.homepage-four .sbSelector:after, .home-one .sbSelector:after, .homepage-two .sbSelector:after, .homepage-three .sbSelector:after, .blog-inner-page .sbSelector:after {
	position: absolute !important;
	right: 14px !important;
	top: 13px !important;
	content: "\f107";
	color: #ffffff;
	font-family: 'FontAwesome';
}
.homepage-three .sbSelector:after {
	color: #131313;
}
.homepage-four .menu-wrap form {
	float: left;
	padding-left: 53px;
}
.homepage-four .nav li a {
	color: #131313;
}
.homepage-four .sticker {
	margin-top: 0;
}
.homepage-four nav > .navigation {
	display: none;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	width: 100%;
	background: #f9f9f9;
	position: absolute;
	top: 0px;
	z-index: 99;
}
.homepage-four nav {
	position: relative;
}
/*drop down*/
.homepage-four .navigation .drop-down {
	width: 200px;
	top: 52px;
}
.homepage-four .navigation .drop-down li {
	float: none;
}
.homepage-four .navigation .drop-down li a {
	display: block;
	color: #ffffff;
}
.homepage-four .navigation .drop-down li a:hover {
	color: #ffffff;
}
/*drop down end*/
.homepage-four nav .navigation  li {
	margin: 0;
	background: #f9f9f9;
	float: left;
	border-right: 1px solid #e6e6e6;
}
.homepage-four .navigation > li > a {
	color: #131313;
	padding: 17px 20px;
	display: inline-block;
	border-bottom: 3px solid transparent;
	text-transform: uppercase;
	font-size: 15px;
	font-family: "Montserrat";
	font-weight: 700;
}
.homepage-four .navigation > li > a:hover {
	color: rgba(19,19,19,0.4);
	border-bottom: 3px solid;
}
.homepage-four .navbar-toggle.menu {
	background-color: #f9f9f9;
	border-radius: 0px;
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1) inset;
}
.homepage-four .navbar-toggle.menu .icon-bar {
	background: #131313;
}
.homepage-four .primary-header {
	border-bottom: none;
}
/*
 5) Footer Section
 ------------------------------------------------------------------------------------------------------------*/

/*========================================================Footer-Style========================================*/
.footer {
	background: #131313;
}
.chronical-instagram-head {
	padding: 25px 29px 25px;
	position: relative;
}
.chronical-instagram-head > h3 {
	font-size: 36px;
	margin: 0;
	font-weight: 700;
	color: #fff;
}
.our-instagram, .shop-cart, .view-blog {
	font-family: georgia;
	font-size: 15px;
	font-style: italic;
	position: absolute;
	right: 49px;
	text-transform: capitalize;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.our-instagram > a, .shop-cart > a, .view-blog > a {
	font-size: 15px;
	border-bottom: 1px solid #5a5a5a;
	color: #5a5a5a;
}
.our-instagram > a:after, .shop-cart > a:after, .view-blog > a:after {
	content: "";
	font-family: FontAwesome;
	position: absolute;
	right: -19px;
	top: 2px;
	font-size: 15px;
	font-style: normal;
}
.instagram-images li {
	float: left;
	width: 16.666%;
}
.instagram-images li img {
	display: block;
	width: 100%;
}
.instagram-images .people-wrap {
	height: 100%;
}
.instagram-images .people-text-wrap a {
	font-family: montserrat;
	font-size: 15px;
	font-weight: 400;
}
.likes {
	margin-right: 15px;
}
.instagram-images .people-text {
	height: 100%;
	opacity:0;
	transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
}
.instagram-images .people:hover .people-text {
	opacity:1;
}
.important-links {
	padding: 56px 0 0;
}
.about-chronical {
	padding-right: 100px;
}
.about-chronical p {
	font-family: georgia;
	font-size: 15px;
	font-style: italic;
	line-height: 1.6;
	padding: 19px 0 0;
	color: #7a7a7a;
}
.important-links-list {
	padding: 10px 0 0;
}
.important-links-list h4 {
	font-family: montserrat;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
}
.important-links-list ul {
	list-style-type: none;
	padding: 20px 0 0;
}
.important-links-list li {
	margin: 0 0 11px;
}
.important-links-list li a {
	font-size: 15px;
	text-transform: capitalize;
	font-family: domine;
	font-weight: 700;
	color: #7a7a7a;
	position: relative;
	display: inline-block;
}
.important-links-list li a:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background: #5a5a5a;
	display: none;
}
.important-links-list li a:hover {
	color: #fff;
}
.important-links-list li a:hover:after {
	display: block;
}
.footer-sticker .sticker {
	background: url("../images/pattern-4.jpg") repeat;
	margin: 30px 0 0;
	border: 1px solid #282828;
}
.company-links ul {
	list-style-type: none;
	padding: 0 15px;
}
.company-links li {
	float: left;
	width: 25%;
	border-left: 1px solid #282828;
	border-top: 3px solid transparent;
	text-align: center;
	height: 63px;
	position: relative;
	opacity:0.3;
}
.company-links li a {
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.company-links li:hover {
	background: rgba(28,28,28,0.5);
	opacity:1;
}
.company-links li:last-child {
	border-right: 1px solid #282828;
}
.company-links {
	border-bottom: 1px solid #282828;
	border-top: 1px solid #282828;
}
.footer-sticker {
	margin: 0 0 44px;
}
.search-box {
	color: #fff;
	cursor: pointer;
	width: 20px;
	display: block;
}
.search-here {
	position: absolute;
	width: 100%;
	background: #0a0a0a;
	top: 0;
	display: none;
}
.search-here input[type="text"] {
	width: 100%;
	background: transparent;
	font-size: 76px;
	font-family: "Montserrat";
	font-weight: 300;
	color: #ffffff;
	border: none;
}
.search-here input[type="text"]::-webkit-input-placeholder {
	color: #fff;
	font-size: 76px;
	opacity: 1;
	font-family: "Montserrat";
	font-weight: 300;
}
.search-here input[type="text"]:-moz-placeholder {/*/ Firefox 18- /*/
	color: #fff;
	font-size: 76px;
	opacity: 1;
	font-family: "Montserrat";
	font-weight: 300;
}
.search-here input[type="text"]::-moz-placeholder {/*/ Firefox 19- /*/
	color: #fff;
	font-size: 76px;
	opacity: 1;
	font-family: "Montserrat";
	font-weight: 300;
}
.search-here input[type="text"]:-ms-input-placeholder {
	color: #fff;
	font-size: 76px;
	opacity: 1;
	font-family: "Montserrat";
	font-weight: 300;
}
.search-here button {
	width: 50px;
	height: 50px;
	border: 1px solid #282828;
	background: #131313;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.search-here button:after {
	position: absolute;
	content: "";
	font-family: FontAwesome;
	font-size: 14px;
	color: #fff;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 100%;
	text-align: center;
	left: 0;
}
.navigation {
	position: relative;
}
.navigation li {
	position: relative;
}
.navigation li.multi-level {
	position: static;
}
.navigation .drop-down {
	left: 0;
	list-style: outside none none;
	position: absolute;
	top: 39px;
	width: 171px;
	z-index: 9999999;
	display: none;
}
.dropdown-list, .drop-menu {
	position: absolute;
	width: 245px;
	top: 150%;
	padding: 0px 0 0;
	background: #fff;
	display: none;
	z-index: -9;
	list-style-type: none;
	right: 0;
	border-top: 3px solid #000 !important;
}
.homepage-three  .dropdown-list, .homepage-three   .drop-menu, .homepage-three  .second-dropdown-menu {
	border-top: none !important;
	border-bottom: 3px solid #000 !important;
}
.homepage-four .dropdown-list, .homepage-four .drop-menu, .homepage-four .second-dropdown-menu {
	border-top: 1px solid #e6e6e6 !important;
}
.homepage-four nav ul li .dropdown-list li {
	border-top: 1px dotted #e6e6e6;
}
.dropdown-list.left {
	right: auto;
	left: 0;
}
.drop-menu {
	width: 545px;
}
.homepage-three .dropdown-list {
	background: #282828;
	z-index: 9999 !important;
}
.dropdown:hover .dropdown-list {
	display: block;
	top: 100%;
	z-index: 999 !important;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	left: auto;
}
.homepage-three .dropdown-list.left {
	left: -1px;
}
nav ul li .dropdown-list li {
	padding: 20px 25px 20px;
	text-align: left;
	width: 100%;
	border-top: 1px dotted #444444;
}
nav ul li .dropdown-list li:hover {
	background: #ededed;
}
.homepage-three nav ul li .dropdown-list li:hover {
	background: #323232;
}
nav ul li .dropdown-list li a, nav ul li .second-dropdown-menu li a {
	font-family: domine;
	font-size: 16px;
	display: block;
	color: #131313;
	font-weight: bold;
	text-transform: capitalize;
	padding: 0px 0px 0px;
	position: relative;
}
nav  ul  li  .dropdown-list li:first-child {
	border-top: 1px dotted transparent;
}
nav ul li ul li:hover, nav ul li ul li:hover + li {
	border-top: 1px dotted transparent;
}
nav ul li .drop-menu li {
	border-top: none;
	border-bottom: 1px dotted #444444;
}
nav ul li .drop-menu li:last-child {
	border-bottom: none;
}
nav ul li ul.drop-menu li:hover, nav ul li ul.drop-menu li:hover + li {
	border-top: none;
}
.homepage-four nav ul li .dropdown-list li {
	border-top: none !important;
	border-bottom: 1px solid #e6e6e6;
}
nav  ul  li  .drop-menu li:first-child {
	border-top: none;
}
nav ul li .dropdown-list li a i {
	position: absolute;
	right: 0;
}
.homepage-three nav ul li .dropdown-list li a {
	color: #fff;
}
nav ul li .drop-menu li {
	float: left;
	width: 33.33%;
}
.second-dropdown-menu {
	position: absolute;
	left: 130%;
	background: #fff;
	width: 100%;
	z-index: 9;
	opacity: 0;
	top: 0;
	list-style-type: none;
	border-top: 3px solid #000 !important;
}
.homepage-three .second-dropdown-menu {
	background: #282828;
}
.second-dropdown:hover .second-dropdown-menu {
	left: 100%;
	opacity: 1;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
.black-header {
	background: #080808;
}
.homepage-four .search-box {
	display: inline-block;
	margin-left: 52px;
	width: 50px;
	height: 50px;
	vertical-align: top;
	text-align: center;
	padding: 15px 0 0;
	font-size: 14px;
}
/*footer-type-three*/
.footer-type-two {
	padding: 71px 0 51px;
	background-color: #131313;
}
.footer-type-two .footer-logo {
	text-align: center;
	margin-bottom: 49px;
}
.footer-type-two .footer-link {
	text-align: center;
	margin-bottom: 51px;
}
.footer-type-two .footer-link li {
	display: inline-block;
	font-size: 15px;
	color: #ffffff;
	font-family: montserrat;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 52px;
}
.footer-type-two .footer-link li a {
	color: #ffffff;
}
.footer-type-two .footer-link li a:hover {
	text-decoration: none;
}
.footer-type-two .footer-last {
	border: 1px solid #282828;
}
.footer-type-two .footer-last-left {
	float: left;
	border-right: 1px solid #282828;
	padding: 17px 0;
	width: 30.1%;
}
.footer-type-two .footer-last-left span, .footer-type-two .footer-three-search span {
	font-size: 15px;
	color: #7a7a7a;
	font-family: 'Domine', serif;
	font-weight: 700;
	padding: 0 29px 0 21px;
}
.footer-type-two .footer-last-left span a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.footer-type-two .footer-three-search {
	padding: 17px 0;
	float: left;
	width: 59.6%;
	border-right: 1px solid #282828;
	position: relative;
}
.footer-type-two .footer-three-search span {
	float: left;
	padding: 0 0 0 31px;
}
.footer-type-two .footer-search {
	float: right;
	margin-right: 17px;
}
.footer-type-two .footer-search i {
	font-size: 14px;
	color: #ffffff;
}
.footer-type-two .go-to-top {
	float: right;
	width: 9.6%;
	padding: 17px 0;
	text-align: center;
}
.footer-type-two .go-to-top span {
	font-size: 15px;
	color: #7a7a7a;
	font-family: 'Domine', serif;
	font-weight: 700;
	margin-right: 15px;
}
.footer-type-two .go-to-top i {
	font-size: 15px;
	color: #FFF;
}
/*footer four*/
.footer-type-four .footer-menu {
	text-align: center;
}
.footer-type-four .company-feature {
	padding: 61px 0 43px;
	background-color: #131313;
	border: 1px solid #282828;
}
.footer-type-four .company-feature h5 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: montserrat;
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 38px;
}
.footer-type-four .company-feature ul li {
	font-size: 15px;
	font-family: 'Domine', serif;
	font-weight: 700;
	margin-bottom: 18px;
	text-transform: capitalize;
}
.footer-type-four .company-feature ul {
	margin-bottom: 0;
}
.footer-type-four .company-feature ul li a {
	color: #7a7a7a;
}
.footer-type-four .company-feature ul li a:hover {
	color: #ffffff;
	border-bottom: 1px solid #fff;
}
.footer-type-four .footer-four-contact {
	background-color: #1c1c1c;
	padding: 44px 0 34px;
}
.footer-type-four .footer-four-contact-info {
	text-align: center;
}
.footer-type-four .footer-contact-icon {
	width: 70px;
	margin: 0 auto 27px;
	padding: 25px 0;
}
.footer-type-four .footer-contact-icon i {
	font-size: 24px;
	color: #ffffff;
}
.footer-type-four .footer-four-contact-info h6 {
	font-size: 18px;
	color: #ffffff;
	font-family: 'Domine', serif;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 17px;
}
.footer-type-four .footer-four-contact-info span, .footer-type-four .footer-four-contact-info a {
	font-size: 15px;
	font-family: 'Domine', serif;
	font-weight: 700;
	color: #7a7a7a;
}
.contact-list {
	margin: 0 auto;
	width: 254px
}
.contact-list li {
	float: left;
}
.footer-type-four .footer-last {
	border: 1px solid #282828;
	background: #131313;
	padding: 26px 0;
	text-align: center;
}
.footer-type-four .footer-last span {
	color: #7a7a7a;
	font-size: 15px;
	font-family: 'Domine', serif;
	font-weight: 700;
}
.footer-type-four .footer-last span a {
	color: #ffffff;
}
.footer-type-four .footer-last span a:hover{
	text-decoration:underline;
}
/*footer three*/
.footer-type-three {
	padding: 0;
	background-color: #131313;
	border: 1px solid #282828;
}
.footer-type-three .footer-part-one {
	padding: 71px 0 74px;
	text-align: center;
}
.footer-type-three .footer-part-one h4 {
	font-size: 48px;
	font-family: 'Domine', serif;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 29px;
}
.footer-type-three .footer-part-one span {
	font-style: italic;
	font-family: Georgia;
	color: #ffffff;
	font-size: 15px;
	display: inline-block;
	margin-bottom: 34px;
}
.footer-type-three .footer-part-one input {
	float: left;
	padding: 21px 26px;
	color: rgba(19,19,19,0.2);
	text-transform: none;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	border-radius: 5px;
	width: 87.9%;
	height: 52px;
}
.footer-type-three .footer-part-one input:-moz-placeholder {/* Firefox 18 */
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	color: rgba(19,19,19,0.2);
	opacity: 1;
	text-transform: uppercase;
}
.footer-type-three .footer-part-one input::-moz-placeholder {/* Firefox 19 */
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	color: rgba(19,19,19,0.2);
	opacity: 1;
	text-transform: uppercase;
}
.footer-type-three .footer-part-one input::-webkit-input-placeholder {
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	color: rgba(19,19,19,0.2);
	opacity: 1;
	text-transform: uppercase;
}
.footer-type-three .footer-part-one input::-ms-input-placeholder {
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	color: rgba(19,19,19,0.2);
	opacity: 1;
	text-transform: uppercase;
}
.footer-type-three .footer-part-one button {
	float: right;
	color: #131313;
	text-transform: uppercase;
	font-size: 14px;
	font-family: montserrat;
	font-weight: 700;
	padding: 18px;
	width: 10.6%;
	border-radius: 5px;
	background-color: #ffffff;
	transition: 0.4s all ease;
	-webkit-transition: 0.4s all ease;
	height: 52px;
}
.footer-type-three .footer-part-one button:hover {
	color: #fff;
}
.footer-type-three .footer-logo-list {
	padding: 37px 0;
	text-align: center;
	border-top: 1px solid #282828;
	border-bottom: 1px solid #282828;
}
.footer-type-three .footer-type-last {
	padding: 43px 0 41px;
}
.footer-type-three .footer-type-last h5 {
	font-size: 18px;
	font-family: montserrat;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 39px;
}
.footer-type-three .footer-type-last ul {
	margin-bottom: 0;
}
.footer-type-three .footer-type-last ul li {
	margin-bottom: 15px;
}
.footer-type-three .footer-type-last ul li  i {
	font-size: 15px;
	color: #ffffff;
	margin-right: 15px;
	min-width: 17px;
}
.footer-type-three .instagram-pic {
	margin-bottom: 0;
}
.footer-type-three .instagram-pic li {
	display: inline-block;
	width: 87px;
	margin-right: 4px;
}
.footer-type-three .instagram-pic li:last-child {
	margin-right: 0;
}
.footer-type-three .footer-type-last ul li:last-child {
	margin-bottom: 0px;
}
.footer-type-three .footer-type-last ul li a, .footer-type-three .footer-type-last ul li span {
	font-size: 15px;
	color: #7a7a7a;
	font-family: 'Domine', serif;
	font-weight: 700;
}
.footer-type-three .footer-type-last ul li a:hover {
	color: #ffffff;
	border-bottom: 1px solid #7a7a7a;
}
.footer-type-three .footer-bottom-section {

	margin-bottom: 49px;
}
.footer-type-three .footer-boottom-part {
	border: 1px solid #282828;
}
.footer-social-icon {
	float: left;
	width: 21.5%;
}
.footer-social-icon ul {
	margin-bottom: 0;
}
.footer-social-icon ul li {
	float: left;
	padding: 18px;
	border-right: 1px solid #282828;
}
.footer-social-icon ul li i {
	font-size: 14px;
	color: #ffffff;
}
.footer-type-three .all-right {
	padding: 22px 18px 18px;
	float: left;
	width: 68.3%;
	border-right: 1px solid #282828;
	height: 60px;
}
.footer-type-three .all-right span {
	color: #7a7a7a;
	font-size: 15px;
	font-family: 'Domine', serif;
	font-weight: 700;
}
.footer-type-three .all-right span a {
	color: #ffffff;
}
.footer-type-three .go-top {
	float: right;
	padding: 22px 18px 18px;
	width: 10%;
	text-align: center;
}
.footer-type-three .go-top span {
	font-size: 15px;
	color: #7a7a7a;
	font-family: 'Domine', serif;
	font-weight: 700;
	margin-right: 12px;
}
.footer-type-three .go-top i {
	font-size: 14px;
	color: #ffffff;
}

/*sticky header style
 ========================================================================================================================*/
body #header {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
body #header.fixed, body .home-agency #header.fixed {
	left: 0;
	margin: 0 auto;
	position: fixed !important;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}
body #header.fixed {
	background: rgba(0,0,0,0.7);
	width: 100%;
}
body #header.intelligent {
	left: 0;
	position: fixed !important;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}
body #header.up {
	opacity: 0;
	top: -162px;
	visibility: hidden;
}
body #header.intelligent.down {
	background: #131313;
}
body .banner.top-m {
	margin-top: 0;
}
.homepage-four .top-m {
	margin-top: 53px;
}
.zoom figure {
	overflow: hidden;
}
.zoom img {
	transform: scale(1);
	-webkit-transform: scale(1);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
.zoom:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
}
