/*!
 * Theme v1.0.0 
 * Copyright 2015-2016 Theemon.com
 */
@skinColor:#bc8847; //Change here your theme Color
@fontFamily: "Domine",serif;  //Change here your theme Font family

.transition_effect {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


h1,h2,h3 {
  font-family:@fontFamily;
}
//TEXT COLOR
.links li a:hover, .nav > li > a:hover, .search-box:hover, .sub-menu-block ul li a:hover, .sub-menu-block .product-price:hover, .people-text-wrap h2 a:hover, .new-data-one a:hover, .sm-para:hover, .social-circle li a:hover, .like-us .heading-center > a:hover, .home-one .like-us .people-text-wrap p a:hover, .more-news .news-blog-text a.head-para:hover, .cell a:hover,.people-news h2 a:hover, .load-more a:hover span, .correspondents-fig li a:hover, .archive-fig-text h2 a:hover, .shop-icon li a:hover, .all-products a:hover, .instagram-images .people-text-wrap a:hover, .news-sec .news-blog-text a.head-para:hover, .aside-sec-wrap a:hover,  .load-wrap > a:hover,.homepage-three h2 a:hover, .homepage-three .aside-thumb > a:hover, .homepage-three .news-feed-section .filter-item:hover .date-one a:hover, .special-link:hover, .homepage-three .most-viewed .read-more:hover, .people-text-wrap p a:hover, .homepage-four .date-one a:hover, .filter-item-text .date-one a:hover, .popular-tag-links li:hover a span, .most-popular-block .most-popular li .most-popular-wrapper:hover span, .most-popular-block .most-popular li .most-popular-wrapper:hover a, .profile-info-text a:hover, .comment-client .comment-time-block .comment-time a:hover, .leave-reply-section form button:hover, .brand-desc-text p a:hover, .brand-desc-text h3, .load-more a i, .add-cart .fa-shopping-cart, .sub-total span, .check-out-cart .view-cart i, .checkout-cart i, .cart-checkout .fa-cart-plus, .cart-checkout .fa-credit-card, .woo-logo-add i, .filter .fa-filter, .populer-tags ul li a:hover span, .customer-reveiw .reveiws, .catagory-tag span a, .shopping-cart-two #home p a,.shopping-cart-two #profile p a, .shoping-cart .fa, .update .fa, .special-text > p a:hover, .secrecy .play:hover, .rating a:hover,.home-one .sbSelector:hover:after, .homepage-two .sbSelector:hover:after, .homepage-three .sbSelector:hover:after,.cell a span, .special-project-link, .all-products a span, .spaecial-project > h3, .load-wrap:before, .forum ul li > span.brown-text, .blogger-content i, .prfile-sub-content-wrapper p > a, .typography-sub-content-wrapper p a, .comment-wrapper h2 span, .leave-reply-section form button i, .warning-block i, .checkout-form label span, .paypal-option .paypal-link .about-paypal, .contact-about-us span a:hover, .footer-type-two .footer-link li a:hover, .footer-social-icon ul li:hover i, .link-detail span a, .video-content p a:hover, .customer-reveiw, .add-to .fa-shopping-cart, .list-style-seven li:before, .button-list-one li:first-child .fa-newspaper-o, .button-list-one li:nth-child(2) .fa-newspaper-o, .shortcodes .button-list-three li:hover span, .shop-page-one .chronical-pic-section li a:hover, .play:hover, .profile-icon > h3 a:hover,.showsuccess, .showsuccess2, .showsuccess3,.top-product-info h3 a:hover,.chronical-pic h3 a:hover,.product-check-out ul li h4 a:hover,.shop-related-item-info h3 a:hover,.related-cart-item h3  a:hover,a:focus,.our-instagram > a:hover, .shop-cart > a:hover, .view-blog > a:hover{
  color:@skinColor !important; .transition_effect;
}

//BACKGROUND COLOR
.stay-updated-text input[type="submit"]:hover, .stay-updated-text input[type="button"]:hover, .aside-stay-update .sub:hover, .social-link-block li.active a, .social-link-block li:hover a, .social-feed-back ul li:hover, .right-section > span:hover, .news-subscribe:hover, .cart-icon .badge, .chronical-border-section span, #slider-range1 .ui-widget-header, #home blockquote:before, .apply-coupon:hover, .update-cart:hover, .proceed:hover, .bell, .price-part:after, .circle-two .circle-two-icon, .reveiws-quotes blockquote::before, .introbox-two .fa:hover, .introbox-two .fa:hover, .home-one .banner .tp-thumb:before, .star, .yellow-cls, .inner-blog-slides .owl-prev, .inner-blog-slides .owl-next, .contact-map-icon, .multi-sub-menu:before, .footer-type-three .footer-part-one button:hover, .footer-type-four .footer-contact-icon, .list-style-one li:before, .list-style-five li:before, .list-style-six > li:before, .galary-popup .closepopup {
  background:@skinColor !important; .transition_effect;
}
.prince-part-hover .price-mnth{
     background-color:lighten(@skinColor,30%);
}
.prince-part-hover span{
    background-color:darken(@skinColor,20%);
}

//BORDER
.correspondents-fig li a:hover, .shop-icon ul > li:hover, .product-item, .secrecy .play, .profile-inner-wrapper .one-part, .circle-two span, .ideas-icon-wrapper figure, .archive-text:hover, .homepage-two .aside-sec, .ui-autocomplete, .homepage-four .navigation > li > a:hover, .dropdown-list, .homepage-four  .aside-sec figure, .special-link:after, .most-popular-block .most-popular li .most-popular-wrapper:hover,.second-dropdown-menu, .play:hover,.homepage-three  .dropdown-list, .homepage-three   .drop-menu, .homepage-three  .second-dropdown-menu,.our-instagram > a:hover, .shop-cart > a:hover, .view-blog > a:hover,#theme_panel{
  border-color:@skinColor !important; .transition_effect;
}
.tooltip.top .tooltip-arrow{
  border-top-color:@skinColor !important; .transition_effect;
}
.tooltip.left .tooltip-arrow{
   border-left-color:@skinColor !important; .transition_effect;
}
.company-links li:hover {
    border-top: 3px solid @skinColor !important;
}
.design:after {
  border-top: 30px solid @skinColor !important;
}
.product-item:after {
  border-bottom: 10px solid @skinColor !important;
}
.ui-autocomplete:after {
  border-bottom: 8px solid @skinColor !important;
}
.comment-one:hover {
  border-left: 3px solid @skinColor !important;
}
.pop-up:after {
  border-top: 50px solid @skinColor !important;
}

